.videoTile{
    background-color: black;
    width: 560px;
    height: 560px;
    mask-image: url('/alpha-mask.gif');
    mask-size: cover;
    mask-repeat: no-repeat;
    margin:0 auto;
    z-index: 10;
    position: relative;
}