@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}


* {
  box-sizing: border-box;
}


html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-sans);
}


.font-mono {
  font-family: var(--font-mono);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
